@import "~normalize.css";

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: #9F9F9F;
}

:focus {
  outline: none;
}

.app--dark {
  filter: invert(100%);
}

.app--dark img:not([src*=".svg"]),
.app--dark video,
.app--dark canvas {
  filter: invert(100%);
}